{% extends 'main/layout.html' %}
{% block title %}{{ bid_detail.num_bid }}{% endblock %}
{% block content %}
{% if request.user.is_authenticated %}
<div class="container">
    <a href="{% url 'home' %}">Назад</a>
    <h3>{{ bid_detail.num_bid }}</h3>
    <p>{{ bid_detail.created_date_bid }}</p>
    <p>{{ bid_detail.modified_date_bid }}</p>
    <p>{{ user.get_full_name }}</p>
    <p>{{ bid_detail.source_bid }}</p>
    <p>{{ bid_detail.recipient_bid }}</p>
    <p>{{ bid_detail.port_bid }}</p>
    <p>{{ bid_detail.protocol_bid }}</p>
    <p>{{ bid_detail.get_persistent_rule }}</p>
    <p>{{ bid_detail.date_rule_start }}</p>
    <p>{{ bid_detail.date_rule_end }}</p>
    <p>{{ bid_detail.justification_bid }}</p>
    <p>{{ bid_detail.description_bid }}</p>
    <p>{{ bid_detail.user_phone_bid }}</p>
    <p>{{ bid_detail.user_department_name_bid }}</p>
    <p>{{ bid_detail.boss_department_name_bid }}</p>
    <p>{{ bid_detail.boss_full_name_bid }}</p>

    <a href="{% url 'bid_edit' bid_detail.id %}">Редактировать</a>
    <a href="{% url 'bid_clone' bid_detail.id %}">Клонировать заявку</a>
    <a href="{% url 'bid_delete' bid_detail.id %}">Удалить</a>

</div>
{% else %}
    <p>Пожалуйста, войдите в систему.</p>
    <p><a href="{% url 'login' %}">Войти</a></p>
{% endif %}

{% endblock %}