{% extends 'main/layout.html' %}
{% block title %}Удаление {{ bid_delete.num_bid }}{% endblock %}
{% block content %}
{% if request.user.is_authenticated %}
<div class="container">
    <form method="post">
        {% csrf_token %}
        <a href="{% url 'home' %}">Назад</a>
            <h3>{{ bid_delete.num_bid }}</h3>
        <div class="buttons_main">
            <button name="result_button" type="submit">Удалить заявку</button>
        </div>
    </form>


</div>
{% else %}
    <p>Пожалуйста, войдите в систему.</p>
    <p><a href="{% url 'login' %}">Войти</a></p>
{% endif %}
{% endblock %}