{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Создание заявки HTML{% endblock %}
{% block content %}
<div class="container">
    <div>
        <a href="{% url 'home' %}">Главная</a>
        <form method="post">
            {% csrf_token %}
            <h3 class="main_h3">Создание заявки</h3>
            <h3>{{ complete_bid }}</h3>
            <h3>{{ error_bid }}</h3>
            <div class="main">
                <div>
                    <div>
                        {{ form_bid.management_form }}
                        <p>Постоянное правило</p>
                        {{form_bid.persistent_rule}}
                        <br>
                        <p>Начальная дата действия</p>
                        {{form_bid.date_rule_start}}
                        <p>Конечная дата действия</p>
                        {{form_bid.date_rule_end}}
                        <p>Обосноваине</p>
                        {{form_bid.justification_bid}}
                        <p>Описание</p>
                        {{form_bid.description_bid}}
                        <p>Телефон исполнителя</p>
                        {{form_bid.user_phone_bid}}
                        <p>Наименование СП исполнителя</p>
                        {{form_bid.user_department_name_bid}}
                        <p>Наименование СП руководителя</p>
                        {{form_bid.boss_department_name_bid}}
                    <div>
                        <p>Фамилия И.О. руководителя</p>
                        <input id="boss_full_name_bid" name="boss_full_name_bid" class="boss_full_name_bid"
                               placeholder="" type="text"
                               value="">
                    </div>
                    </div>
                </div>

            </div>
            {{ form_rule.management_form }}
            {% for form in form_rule %}
            <div class="row form-row spacer">
                <div class="col-4">
                    <div class="main">
                        <p>Источник</p>
                        {{form.source_bid}}
                        <p>Получатель</p>
                        {{form.recipient_bid}}
                        <p>Порты</p>
                        {{form.port_bid}}
                        <p>Протокол</p>
                        {{form.protocol_bid}}
                        <div class="input-group-append">
                            <button class="btn btn-success add-form-row">+</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="row spacer">
                <div class="col-4 offset-2">
                    <button type="submit" class="btn btn-block btn-primary">Создать</button>
                    <button type="reset" class="btn btn-block btn-primary">Очистить</button>
                </div>
            </div>
        </form>
    </div>
    {% endblock %}