{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Создание заявки HTML{% endblock %}
{% block content %}
<div class="container">
    <div>
        <a href="{% url 'home' %}">Главная</a>
        <form method="post">
            {% csrf_token %}
            <h3 class="main_h3">Создание заявки</h3>
            <h3>{{ complete_bid }}</h3>
            <h3>{{ error_bid }}</h3>
            <div>
                <p>Номер заявки</p>
                <input id="num_bid" name="num_bid" class="num_bid" placeholder="Номер заявки" type="text" readonly
                       value="Номер заявки">
            </div>
            <div class="main">

                <div class="">

                    <div class="row form-row1 spacer">
                        <div class="col-4">
                            <div class="main">
                                {{ form_source.management_form }}
                                {% for form_so in form_source %}
                                <div>
                                    <p>Источник</p>
                                    {{form_so.source_bid}}
                                </div>
                                <div class="input-group-append">
                                    <br><br>
                                    <button class="btn btn-success add-form-row1">+</button>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row form-row2 spacer">
                        <div class="col-4">
                            <div class="main">
                                {{ form_recipient.management_form }}
                                {% for form_re in form_recipient %}
                                <div>
                                    <p>Получатель</p>
                                    {{form_re.recipient_bid}}
                                </div>
                                <div class="input-group-append">
                                    <br><br>
                                    <button class="btn btn-success add-form-row2">+</button>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row form-row3 spacer">
                        <div class="col-4">
                            <div class="main">
                                {{ form_rule.management_form }}
                                {% for form_rl in form_rule %}
                                <div>
                                    <p>Порты</p>
                                    {{form_rl.port_bid}}
                                </div>
                                <div>
                                    <p>Протокол</p>
                                    {{form_rl.protocol_bid}}
                                </div>
                                <div class="input-group-append">
                                    <br><br>
                                    <button class="btn btn-success add-form-row3">+</button>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>


                </div>

            </div>
            <div>
                <label for="persistent_rule"><input name="persistent_rule" type="checkbox" id="persistent_rule"
                                                    checked/>Постоянное</label><br><br>
                <label id="date_rule_start_label" for="date_rule_start"><input type="date" name="date_rule_start"
                                                                               id="date_rule_start"/>
                    Начальная
                    дата действия</label><br>
                <label id="date_rule_end_label" for="date_rule_end"><input type="date" name="date_rule_end"
                                                                           id="date_rule_end"/> Конечная дата
                    действия</label>
                <input type="hidden" name="auth_user" id="auth_user" value="{{ request.user.id }}"/>
                <input type="hidden" id="persistent_rule_hidden" value=""/>
                <input type="hidden" name="status_bid" id="status_bid" value="1"/>

                <script src="{% static 'main/js/date_rule.js' %}"></script>

                <p>Описание</p>
                <textarea id="description_bid" name="description_bid" cols="100" rows="2"
                          placeholder="Описание">Описание</textarea>


                <p>Обосноваине</p>
                <textarea id="justification_bid" name="justification_bid" cols="100" rows="2"
                          placeholder="Обоснование">Обоснование</textarea>
                <br><br>
                <div class="main">
                    <div>
                        <p>Наименование СП исполнителя</p>
                        <input id="user_department_name_bid" name="user_department_name_bid"
                               class="user_department_name_bid" placeholder="" type="text"
                               value="Оренбургское РПУ ООО ИК «Сибинтек»">
                    </div>
                    <div>
                        <p>Телефон исполнителя</p>
                        <input id="user_phone_bid" name="user_phone_bid" class="user_phone_bid" placeholder=""
                               type="text"
                               value="{{ request.user.user_phone }}">
                    </div>
                </div>
                <div class="main">
                    <div>
                        <p>Наименование СП руководителя</p>
                        <input id="boss_department_name_bid" name="boss_department_name_bid"
                               class="boss_department_name_bid" placeholder="" type="text"
                               value="Оренбургское РПУ ООО ИК «Сибинтек»">
                    </div>
                    <div>
                        <p>Фамилия И.О. руководителя</p>
                        <input id="boss_full_name_bid" name="boss_full_name_bid" class="boss_full_name_bid"
                               placeholder="" type="text"
                               value="">
                    </div>
                </div>

                <br><br>

                <div class="buttons_main">
                    <button name="result_button" type="submit" class="btn btn-block btn-primary">Создать</button>
                    <button type="reset" class="btn btn-block btn-primary">Очистить</button>
                </div>
        </form>
    </div>
    {% endblock %}