{% extends 'main/layout.html' %}
{% block title %}Создание заявки HTML{% endblock %}
{% block content %}
    <div class="container">
        <a href="{% url 'home' %}">Главная</a>
        <form method="post">
<!--            <script language="JavaScript">-->
<!--                alert("Привет, мир!");-->
<!--            </script>-->
            {% csrf_token %}

            <h3 class="main_h3">Создание заявки</h3>
            <h3>{{ complete_bid }}</h3>
            <h3>{{ error_bid }}</h3>
            <div class="main">
                <div>
                <p class="num_text">Номер заявки</p>
                <input name="num_bid" class="num_inp" placeholder="Номер заявки" type="text">
                </div>

                <div>
                <p class="istochnik_text">Источник</p>
                <input name="source_bid" class="istochnik_inp" placeholder="Источник" type="text" size="16" pattern="^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$">
                </div>

                <div>
                <p class="poluchatel_text">Получатель</p>
                <input name="recipient_bid" class="poluchatel_inp" placeholder="Получатель" type="text" size="16" pattern="^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$">
                </div>

                <div>
                <p class="port_text">Порты</p>
                <input name="port_bid" id="port_bid" class="port_inp" placeholder="Порты" type="text" pattern="^[0-9]+$">
                <script type="text/javascript">
                    document.getElementById('port_bid').value = '3389';
                </script>
                </div>

                <div>
                <p class="protocol_text">Протокол</p>
                <!-- Начально будет выбрано второе значение -->
                <select name="protocol_bid"> <!--Supplement an id here instead of using 'name'-->
                    <option value="1" selected>TCP</option>
                    <option value="2">UDP</option>
                    <option value="3">TCP/UDP</option>
                </select>
                </div>

    <!--            <label><input name="time_rule" type="radio" id="contactChoice1" checked value="temporary"/>Временное</label>-->
    <!--            <label><input name="time_rule" type="radio" id="contactChoice2" value="constant"/>Постоянное</label><br><br>-->
                <div>
                <label for="persistent_rule"><input name="persistent_rule" type="checkbox" id="persistent_rule" checked/>Постоянное</label><br><br>
                <label for="date_rule_start"><input type="date" id="date_rule_start" name="date_rule_start"/> Начальная дата действия</label><br>
                <label for="date_rule_end"><input type="date" id="date_rule_end" name="date_rule_end"/> Конечная дата действия</label>
                </div>
            </div>
                <p class="opisanie_text">Описание</p>
                <textarea name="description_bid" class="opisanie_inp" cols="100" rows="2" placeholder="Описание"></textarea>


                <p class="obosnovanye_text">Обосноваине</p>
                <textarea name="justification_bid" class="obosnovanye_inp" cols="100" rows="2" placeholder="Обоснование"></textarea>


            <button name="result_button" class="result_button" type="submit">Создать</button>
            <button class="buttom" type="reset">Очистить</button>

        </form>
<!--        {% if bids %}-->
<!--            {% for el in bids %}-->
<!--                <div>-->
<!--                    <p>{{ el.num_bid }}</p>-->
<!--                    <p>{{ el.source_bid }}</p>-->
<!--                    <p>{{ el.protocol_bid }}</p>-->
<!--                </div>-->
<!--            {% endfor %}-->
<!--        {% else %}-->
<!--            <p>Заявок нет </p>-->
<!--        {% endif %}-->
    </div>
{% endblock %}